@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<MatButton Raised="true" Icon="favorite">Whoop Whoop</MatButton>

<Button class="btn btn-primary" @onclick="IncrementCount">Click me</Button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
